html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    background-color: $secondary;
    margin: 0 auto;
    color: $primary;
    font-size: 1.6rem;
    font-family: $founders-regular-font;
    line-height: $defautl-line;
}

.container {
    width: 100%;
    max-width: 132rem;
    margin: 0 auto;
}