/* Colors */
$white: #FFF;
$black: #0C162A;
$blue: #69C0FF;
$dark-gray: #9DA4B3;
$light-gray: #F2F2F2;

/* Font */
$apfelGrotezk-regular-font: "ApfelGrotezk-Regular";
$founders-regular-font: "FoundersGrotest-Regular";
$founders-medium-font: "FoundersGrotest-Medium";



/* Font-Size */
$h1: 6rem;
$h2: 3rem;
$number: 2rem;
$defautl-font: 1.6rem;

/* Line Height */
$defautl-line: 1.92rem;
$number-line: 2.3rem;
$title-card: 3.45rem;
$title-line: 6rem;
