/* Colors */
$white: #fff;
$black: #000;
$primary:#442D2D;
$secondary:#F9EFE6;

/* Font */
$gascogne-font: "Gascogne-Light";
$founders-regular-font: "FoundersGrotest-Regular";
$founders-medium-font: "FoundersGrotest-Medium";



/* Font-Size */
$h1: 6rem;
$defautl-font: 1.4rem;

/* Line Height */
$defautl-line: 1.68rem;
$title-line: 8rem;
$other-line: 6rem;
